<div class="jumbotron">
	<h1>Welcome to ONRails</h1>
	<p>You've found the home page
		<%= link_to "Google", "http://www.google.it" %>
	</p>
	<p>
		<%= link_to "Sign Up now!", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>